.wrap-homePage{
    position: relative;
    min-height: calc(100vh - 150px);
    width: 100%;
    z-index: 10;
    padding-top: 150px;
    background-color: #f7fbfe;
}
.background-homePage{
    position: absolute;
    height: 30vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: #283ead;
}
.wrap-content{
    z-index: 2;
    background-color: #ffffff;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 32px 25px;
    border-radius: 22px;
}
.wrap-content-inner{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: none;
    margin: auto;
    padding-top: 30px;
    box-sizing: border-box;
    padding: 30px 16px 0 16px;
}
.wrap-content-inner >div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px) {
    .wrap-content-inner{
        flex-direction: column;
        align-items: flex-start;
        gap:10px
        
    }
}
.avatar-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar-user img{
   height: 60px;
   width: 60px;
   border-radius: 50%;
   cursor: pointer;
}
.avatar-user span{
   font-size: 18px;
   line-height: 150%;
   font-weight: 500;
   color: white;
 }
.input-search{
    display: flex;
    align-items: center;
    gap:15px
}
.input-search span{
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: white;
}
.input-search input{
    padding: 8px;
    outline: none;
    min-width: 250px;
}
@media (max-width:768px) {
    .input-search{
        width: 100%;
    }
    .input-search input{
      min-width: unset;
      width: 100%;
    }
}
.input-search input:focus{
    border: 2px solid tomato;
}
.wrap-logout{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    justify-content: center;
}
.wrap-logout span{
    margin-left: 30px;
}
.wrap-logout svg:hover{
    color: blueviolet;
    cursor: pointer;
}