
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Karla font */
@font-face {
  font-family: "Karla";
  src: url("./assest/fonts/Karla-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("./assest/fonts/Karla-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Karla";
  src: url("./assest//fonts/Karla-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Karla";
  src: url("./assest/fonts/Karla-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* Poppins font */
@font-face {
  font-family: "Poppins";
  src: url("./assest/fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./assest/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./assest//fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./assest/fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1024px;
}
@media (min-width:1180px) {
 .container{
  max-width: 1180px;
 }
}